/* You can add global styles to this file, and also import other style files */
$background-color: #2A2D36;
$text-color: #ffffff;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $background-color; // Setting background color to gray
    color: $text-color;
    font-family: Arial, sans-serif;
  }